<%- include('partials/header') %>
		<div class="container mt-5">
			<div class="d-flex-inline flex-row justify-content-center text-center">
				<div class="col-xs-12">
					<h1 class="display-1">Howdy</h1>
				</div>
				<div class="col-xs-12 mt-3">
					<h3 class="display-5">I'm Cole, welcome to my site.</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container my-5">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-xs-12 col-lg-9">
					<h4 class="display-4">Who am I?</h4>
					<p class="lead mt-3 about-me-border text-left">My name is <span class="font-weight-bold highlight">Cole D. Connelly</span>, I am a sophomore computer science student at Texas A&M University (Gig 'em Ags!) with a strong passion for learning and web development. Additionally, I have recently completed an internship in Software Development with Connect Technologies in College Station. Feel free to navigate the site and learn more about my professional and personal life.</p>
				</div>
				<div class="col-xs-12 col-lg-3 align-self-center d-none d-lg-inline">
					<img class="profile-img" src="imgs/CDC.png">
				</div>
			</div>
		</div>
	</div>
	<div class="container my-5 pt-2 text-center lead font-weight-bold">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 d-flex justify-content-start">
					<h4 class="display-4  text-center">My Technical Skills</h4>
				</div>
			</div>
			<div class="row mt-4 highlight">
				<div class="col-6 skills-table m-0 corner-1">
					<p>HTML, CSS, and Bootstrap</p>
				</div>
				<div class="col-6 skills-table m-0 corner-2">
					<p>ASP .NET Web Forms - C#</p>
				</div>
			</div>
			<div class="row highlight">
				<div class="col-6 skills-table m-0 border-bottom-0 border-top-0">
					<p>Vanilla JS and JQuery</p>
				</div>
				<div class="col-6 skills-table m-0 border-bottom-0 border-top-0">
					<p>SQL</p>
				</div>
			</div>
			<div class="row highlight">
				<div class="col-6 skills-table m-0 corner-3">
					<p>Experience with C++</p>
				</div>
				<div class="col-6 skills-table m-0 corner-4">
					<p>Git, JIRA, Bitbucket, and Sourcetree</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container my-5">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-lg-6 order-1 mt-3">
					<h4 class="display-4">My Passions</h4>
				</div>
				<div class="col-lg-6 order-3 order-lg-2 mt-3">
					<h4 class="display-4">My Goals</h4>
				</div>
				<div class="col-lg-6 p-2 order-2 order-lg-3 mt-2">
					<h2><i class="fas fa-check-circle highlight"></i> Learning</h2>
					<h2><i class="fas fa-check-circle highlight"></i> Technology</h2>
					<h2><i class="fas fa-check-circle highlight"></i> Teaching</h2>
					<h2><i class="fas fa-check-circle highlight"></i> Personal Development</h2>
				</div>
				<div class="col-lg-6 p-2 order-4 mt-2">
					<h2 class="strike-through"><i class="fas fa-award highlight strike-through"></i> Summer 2020 Internship</h2>
					<h2 class="strike-through"><i class="fas fa-award highlight strike-through"></i> Develop an App</h2>
					<h2 data-toggle="tooltip" data-placement="right" title="Teaching Assistant"><i class="fas fa-award highlight"></i> Become a TA</h2>
					<h2><i class="fas fa-award highlight"></i> Finish Reading List</h2>
				</div>
			</div>
		</div>
	</div>
<%- include('partials/footer') %>