<%- include('partials/header') %>
<div class="container mt-5">
			<div class="d-flex-inline flex-row justify-content-center text-center">
				<div class="col-xs-12">
					<h1 class="display-1">My Projects</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- ./Navbar -->
	<!-- Projects -->
	<div class="container">
		<div class="row my-5">
			<div class="col-lg-4 my-4">
				<div class="card">
				  <a href="https://github.com/cdconn00/raymind-me" target="_blank"><img class="card-img-top" src="imgs/raymind.png" alt="Card image cap"></a>
				  <div class="card-body">
				    <h5 class="card-title">Raymind.me</h5>
				    <p class="card-text">Website Development for a Todo List Application</p>
				  </div>
				  <ul class="list-group list-group-flush text-center">
				    <li class="list-group-item font-weight-bold">Technologies</li>
				    <li class="list-group-item">Node.JS</li>
				    <li class="list-group-item">Express</li>
				    <li class="list-group-item">MongoDB</li>
				  </ul>
				</div>
			</div>
			<div class="col-lg-4 mt-4">
				<div class="card">
				  <a href="https://github.com/cdconn00/cdconn00.github.io" target="_blank"><img class="card-img-top" src="imgs/connellyc.png" alt="Card image cap"></a>
				  <div class="card-body">
				    <h5 class="card-title">Connellyc.com</h5>
				    <p class="card-text">Resume website built custom coded using Bootstrap 4.1</p>
				  </div>
				  <ul class="list-group list-group-flush text-center">
				    <li class="list-group-item font-weight-bold">Technologies</li>
				    <li class="list-group-item">Node.JS</li>
					<li class="list-group-item">Express</li>
				    <li class="list-group-item">Bootstrap 4.1</li>
				  </ul>
				</div>
			</div>
			<div class="col-lg-4 mt-4">
				<div class="card">
				  <img class="card-img-top" src="imgs/gambler.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Command Line Gambling Game</h5>
				    <p class="card-text">Command line game built with C++</p>
				  </div>
				  <ul class="list-group list-group-flush text-center">
				    <li class="list-group-item font-weight-bold">Technologies</li>
				    <li class="list-group-item">C++</li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
	<!-- ./Projects -->
<%- include('partials/footer') %>